body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffecd1;
}

header {
  background-color: #d1b39f;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

nav {
  background-color: #333;
  position: relative;
}

.menu-icon {
  display: none;
  font-size: 30px;
  color: white;
  padding: 1rem;
  cursor: pointer;
  text-align: right;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: block;
}

nav ul li a:hover {
  background-color: #575757;
}

main {
  padding: 2rem;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  width: 300px;
  text-align: center;
}

.product-item img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

.price {
  font-weight: bold;
  color: #4CAF50;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

button:hover {
  background-color: #45a049;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .menu-icon {
      display: block;
  }

  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  nav ul li {
      margin: 0;
      text-align: center;
  }

  nav ul li a {
      padding: 1rem 0;
  }
}
