*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #14213D;
}

.header{
    font-family: "Karla", sans-serif;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.608);

    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 4px solid #14213D;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-link{
    color: #E4E4E4;
    text-decoration: none;
}

.logo{  
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    font-style: italic;
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover{
    background: #1f69c9;
    transition: 0.5s;
}
.nav-toggle{
    color: #E4E4E4;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
.nav-idoma{
    color: #E4E4E4;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 80px;
    cursor: pointer;
}
.nav-theme{
    color: #E4E4E4;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 80px;
    cursor: pointer;
}
.nav-idomax{
    display: flex;
}

.hero{
    font-family: "Karla", sans-serif;
    font-style: normal;
    background-color: rgba(18, 11, 42, 0.606);
    width: 100%;
    height: max-content;
    padding-bottom: 50;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #E4E4E4;
    border-bottom: 4px solid #0d327b;
}
.hero img{
    height: 325px;
    width: 325px;
    border-radius: 50%;
}
.hero-text{
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    text-align: left;
}

.loader{
    
    margin-right: 5%;
}
.loade{
 width: max-content;
 height: max-content;   
 margin-top: 25px;
}
.hero-title{
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.0rem;
}
.hero-name{
    display: block;
    font-weight: 900;
    font-size: 4.5rem;
    font-family: "montserrat", sans-serif;
    
    line-height: 1;
}

.hero-job{
    font-family: "neuton", sans-serif;
    font-weight:500;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color:#A3671B;
    margin-bottom: 10px;
}
.hero-description{
    font-size: 1.25rem;
    font-style: normal;
    width: 400px;
}
.hero-buttons{
    display: flex;
}
.hero-button{
    color: #E4E4E4;
    background: none;
    border: none;
    margin-top: 10px;
    font-size: 35px;
    cursor: pointer;

}
.hero-button:hover {
    color: #1f69c9;
    transform: scale(1.3);
    transition: 0.3s;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
}
.pdf-button {
    display: inline-flex;
    text-decoration: none;
    background-color: #E4E4E4;
    color: black;
    padding: 0;
    border-radius: 5px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
}
.pdf-button:hover {
    background: #1f69c9;
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
}

.pdf-button svg {
    margin-right: 8px;
}

.pdf-button p {
    margin: 0;
}
.pdf-button a{
    padding: 0px 12px;
}

.aboutme{
    font-family: "Karla", sans-serif;
    font-style: normal;
    background-color: rgba(18, 11, 42, 0.608);
    width: 100%;
    height: max-content;
    padding-bottom: 50;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #E4E4E4;
}










